

h1{
  text-align: center;
  border: 1px solid white;
  border-radius: 30px;
  padding:50px;
}
input, button{
  padding: 5px 10px;
 
}

*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  cursor: pointer;
}

#cards{
  border: 1px solid white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

#cards > li {
  flex-basis: 20%;
  margin-bottom: 20px;
}

#cards > li > img {
  width: 80%;
}


body{
  color: white;
  background-color: black;
}

#searchForm{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center; 
}


